.TodoList-wrapper {
  text-align: left;
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4b6db);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  padding: 4em;
}

.TodoList {
  padding: 3rem;
  background-color: #ff6666;
  color: #fff;
  box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.6);
}

.TodoList h1 {
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.TodoList h1 span {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  margin-top: 0.2rem;
}

.TodoList ul {
  padding-left: 0;
  margin-top: 2rem;
  list-style: none;
}
