.Box {
  width: 16em;
  height: 16em;
}

.Box-inner {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.Box-inner span {
  padding: .5em;
  background-color: white;
  border-radius: 10px;
  opacity: .6;
}
