.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.AppHeader {
  background: thistle;
  padding: 1em;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}

.AppHeader .logo {
  cursor: pointer;
}

.AppHeader .logo:hover {
  opacity: 0.5;
}

.AppHeader .left {
  flex: none;
}
.AppHeader .right {
  flex: 1;
}

.AppContent {
  background-color: lavender;
  flex: auto;
  padding: 1em;
  align-items: stretch;
}

.AppFooter {
  background: thistle;
  padding: 1em;
  color: darkslategray;
  font-size: 0.8em;
}

.bg-gradient {
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4b6db);
}

button {
  padding: 0.5em 0.8em;
  border-radius: 3px;
  border: none;
}

button:hover {
  cursor: pointer;
  filter: brightness(0.85);
}

/* .card {
  border: solid 2px gray;
  padding: 1em 0 2em 0;
  margin: 1em auto auto;
  border-radius: 10px;
  width: 40em;
} */

/* button {
  padding: 1em 2em;
  border: 0px;
  border-radius: 10px;
  font-size: 120%;
  color: white;
  background-color: darkslateblue;
  margin-top: 2em;
} */

/* button:hover {
  background-color: slateblue;
} */

/*
button:disabled {
  cursor: not-allowed;
  color: gray;
  background-color: darkgray;
} */
