.Joke {
  display: flex;
  border-bottom: 2px solid #eee;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  padding: 1rem;
}

.Joke-buttons {
  display: flex;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
}

.Joke-buttons .upvote,
.Joke-buttons .downvote {
  font-size: 1.5em;
  margin: .40em;
  cursor: pointer;
}

.Joke-votes {
  border: 2px solid blue;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.1);
}

.Joke-text {
  font-size: 1.1rem;
  flex: auto;
}

.Joke-smiley {
  font-size: 2rem;
  margin-left: 1em;
  border-radius: 50%;
  box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.1);
}
